/BatteryCollector.VC.db
/.vs/BatteryCollector/v14/.suo
/Intermediate/CachedAssetRegistry.bin
/Saved/AutoScreenshot.png
/Saved/Logs/BatteryCollector.log
/Saved/Config/Windows/EditorPerProjectUserSettings.ini
/Saved/Config/Windows/Engine.ini
